CREATE OR REPLACE VIEW public.cjpl_opportunity (
    salesperson,
    opportunity_id,
    date_closed,
    create_date,
    date_deadline,
    date_last_stage_update,
    day_close,
    active,
    day_open,
    contact_name,
    partner_id,
    city,
    user_id,
    opt_out,
    date_open,
    partner_name,
    planned_revenue,
    priority,
    ref,
    so_number,
    so_number_full,
    description,
    street2,
    team_name,
    phone,
    probability,
    date_action,
    name,
    mobile,
    type,
    street,
    source_id,
    state,
    email_from,
    referred,
    weighted_planned_revenue,
    stage)
AS
 SELECT cjpl_user_name.name AS salesperson,
    crm_lead.id AS opportunity_id,
    date(crm_lead.date_closed) AS date_closed,
    date(crm_lead.create_date) AS create_date,
    crm_lead.date_deadline,
    date(crm_lead.date_last_stage_update) AS date_last_stage_update,
    crm_lead.day_close,
    crm_lead.active,
    crm_lead.day_open,
    crm_lead.contact_name,
    crm_lead.partner_id,
    crm_lead.city,
    crm_lead.user_id,
    crm_lead.opt_out,
    date(crm_lead.date_open) AS date_open,
    crm_lead.partner_name,
    crm_lead.planned_revenue,
    crm_lead.priority,
    crm_lead.ref,
    lpad(substr(crm_lead.ref::text, "position"(crm_lead.ref::text, ','::text) + 1), 4, '0'::text) AS so_number,
    'SO'::text || lpad(substr(crm_lead.ref::text, "position"(crm_lead.ref::text, ','::text) + 1), 3, '0'::text) AS so_number_full,
    crm_lead.description,
    crm_lead.street2,
    crm_case_section.name AS team_name,
    crm_lead.phone,
    crm_lead.probability,
    crm_lead.date_action,
    crm_lead.name,
    crm_lead.mobile,
    crm_lead.type,
    crm_lead.street,
    crm_lead.source_id,
    res_country_state.name AS state,
    crm_lead.email_from,
    crm_lead.referred,
    crm_lead.weighted_planned_revenue,
    crm_case_stage.name AS stage
   FROM crm_lead
     JOIN crm_case_stage ON crm_lead.stage_id = crm_case_stage.id
     JOIN cjpl_user_name ON crm_lead.user_id = cjpl_user_name.id
     JOIN res_country_state ON crm_lead.state_id = res_country_state.id
     JOIN crm_case_section ON crm_lead.section_id = crm_case_section.id
  WHERE crm_lead.active = true
  ORDER BY cjpl_user_name.name, crm_case_stage.name;